Source: hanji
Section: utils
Priority: optional
Maintainer: Fosca709 <Fosca709@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 libgl1-mesa-dev,
 libx11-dev,
 pkg-config,
 xorg-dev,
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: hanji
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Sticky note app
