[Desktop Entry]
Type=Application
Version=1.0
Name=Hanji
Comment=Sticky note app
Exec=hanji
Icon=hanji
Terminal=false
Categories=Utility;
StartupWMClass=Hanji
