[Desktop Entry]
Version=1.0
Type=Application
Name=Hanji
Comment=Sticky note app
Exec=/opt/hanji/hanji
Icon=hanji
Terminal=false
Categories=Utility;
StartupNotify=true
